<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button style="width: 82px;" (click)="cerrarModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Insumos</ion-title>
    <ion-buttons slot="end">
      <ion-button style="width: 82px; justify-content: flex-end;" (click)="busquedaProducto()">Buscar</ion-button>
    </ion-buttons>
  </ion-toolbar>
    <ion-searchbar (ionInput)="onNombreProducto($event)"></ion-searchbar>
    <!-- <ion-searchbar [debounce]="1000" (ionChange)="filtrarProducto($event)"></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of listaProductos">
      <ion-label>{{ producto.nombre }}</ion-label>
      <ion-radio [value]="producto.productoid" (ionFocus)="seleccionProducto(producto)"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>