<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Ok</ion-button>
    </ion-buttons>
  </ion-toolbar>
    <ion-searchbar (ionInput)="busquedaCliente($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of itemsFiltrados" class="item-equipo">
      <ion-label>{{ item.nombre }}</ion-label>
      <ion-radio [value]="item.id" (ionFocus)="seleccionCliente(item)"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>