<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="" (click)="dismissLogin()"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-progress-bar type="indeterminate" [hidden]=cargando></ion-progress-bar>
</ion-header>
<div style="text-align: center;margin-top: 5px;">
	<img style="width: 50%" *ngIf="logoempresa" [src]="logoempresa">	
</div>
<ion-content padding [hidden]=contenido>
	<form #form="ngForm" (ngSubmit)="login(form)" method="post" autocomplete="off">
		<ion-item>
			<ion-label position="floating">Usuario</ion-label>
			<ion-select name="user" id="usuario" required interface="popover" ngModel>
				<ion-select-option *ngFor="let usuario of usuarios" value="{{usuario.usuarioid}}">{{usuario.nombre}}</ion-select-option>
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Contraseña</ion-label>
			<ion-input ngModel [type]="passwordType" name="password" clearOnEdit="false" required></ion-input>
			<ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
		</ion-item>

		<br/>

		<ion-button type="submit" expand="full" color="primary">Ingresar</ion-button>
	</form>
</ion-content>