/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ionic-selectable-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    --border-color: transparent;
}

/* Estilos para imputs lista chequeo */
.sc-ion-alert-md-h {
	--max-width: 98% !important;
}
.custom-alert {
	.alert-wrapper {
		width: 100%;

		.alert-radio-group {
			max-height: 100%;
		}
	}
}
/* Fin Estilos para imputs lista chequeo */

ion-header {
	--ion-background-color: #4894d7;
}

ion-title, ion-toolbar ion-buttons {
	color: white;
}

ion-item:hover {
	--ion-background-color: #ccc;
}

ion-progress-bar {
	position: fixed;
}

// ion-searchbar, .searchbar-input{
// 	padding: 0;
// 	box-shadow: none !important;
// 	--box-shadow: none !important;
// 	width: 100%;
// 	padding: 0 !important;
// 	height: 100% !important;
// 	box-shadow: none;
// }

$font-size-ion-select: 0.7rem;

.searchbar-input.sc-ion-searchbar-md {
    background: none;
}

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h {
	font-size: $font-size-ion-select;
}

.alert-radio-label.sc-ion-alert-md {
	font-size: $font-size-ion-select;
}

ion-select {
	font-size: $font-size-ion-select;
}